<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="reImCarnation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <reImCarnation.Properties.Settings>
            <setting name="draft_mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="image_path" serializeAs="String">
                <value />
            </setting>
            <setting name="wait_delay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sensitivity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="metrics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chunk_size" serializeAs="String">
                <value>500</value>
            </setting>
        </reImCarnation.Properties.Settings>
    </userSettings>
</configuration>